:root {
    --color-black: #000;
    --color-pokemon-normal: #A8A77A;
    --color-pokemon-fire: #EE8130;
    --color-pokemon-water: #6390F0;
    --color-pokemon-electric: #F7D02C;
    --color-pokemon-grass: #7AC74C;
    --color-pokemon-ice: #96D9D6;
    --color-pokemon-fighting: #C22E28;
    --color-pokemon-poison: #A33EA1;
    --color-pokemon-ground: #E2BF65;
    --color-pokemon-flying: #A98FF3;
    --color-pokemon-psychic: #F95587;
    --color-pokemon-bug: #A6B91A;
    --color-pokemon-rock: #B6A136;
    --color-pokemon-ghost: #735797;
    --color-pokemon-dragon: #6F35FC;
    --color-pokemon-dark: #705746;
    --color-pokemon-steel: #B7B7CE;
    --color-pokemon-fairy: #D685AD;
    --color-pokemon-shadow: #36414d;
}